@{
    ViewData["Title"] = "Inicial";
}

<div class="container cor-fundo-container">
    container com largura fixa (classe container)
</div>

<div class="container-fluid cor-fundo-container">
    container com largura fluída (classe container-fluid)
</div>